body{
    transition: .7s;
}
i{
    padding: 10px;
    font-size: 16px;
    background-color: grey;
    border-radius: 100%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: .1s;
}
.container{
    padding: 0 6rem;
}
p{
    font-size: 30px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}